*.iml
.gradle
/local.properties
/.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/sudositereputation/.kotlintest
/sudositereputation/src/main/assets/register_key.id
/sudositereputation/src/main/assets/register_key.private
/sudositereputation/src/main/assets/sudoplatformconfig.json
/.editorconfig
